@charset "UTF-8";

@font-face {
    font-family: 'BP';
    src: url(fontes/Boarding\ PersonalUse.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anti';
    src: url(fontes/Antiokhia\ Demo\ Version.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    background-attachment: fixed;
    box-shadow: 2px 2px 3px black;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte1);
}    

header {
    background-color: var(--cor5);
    padding-top: 15px;
    padding: 15px;
    min-height: 200px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.219);
}

header > h1 {
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-size: 45pt;
    text-align: center;
    margin: 70px;
}

a {
    text-decoration: none;
    margin-top: 2px;
    color: black;
}

nav {
    text-align: right;
    background-color: var(--cor4);
}

nav > a {
    font-size: larger;
    text-decoration: none;
    color: var(--cor1);
    padding: 15px;
    margin-right: 10px;
}

nav > a:hover {
    padding: 15px;
    background-color: #118131;
    border-radius: 12px;
    transition: 0.5s;
}

main {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    text-align: justify;
    font-family: var(--fonte1);
}

article {
    display: flexbox;
}

ul {
    display: flex;
    
}

li {
    margin: auto;
}

p {
    padding: 7px;
}

.shelf-product_info {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
}

.shelf-product__link{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 5px 0;
}

:root {
    --cor1: #231F20;
    --cor2: #568259;
    --cor3: #667761;
    --cor4: #D8DBE2;
    --cor5: #0090C1;

    --fonte-titulo: 'BP', 'cursive';
    --fonte-destaque: 'Anti', 'cursive';
    --fonte1: Verdana, 'Geneva', Tahoma, sans-serif;
}

.imagem {
    background-color: rgb(49, 49, 49);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
    background-size: cover;
    background-attachment: fixed;
}