@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: var(--cor2);
    font-size: 3vw;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--bg1);
    border-radius: 20px;
    box-shadow: 0px 10px 40px var(--box-shadow);
}

.card-login > h1 {
    color: var(--card-login);
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--bg2);
    color: var(--cor3);
    font-size: 12pt;
    box-shadow: 0px 10px 40px var(--box-shadow);
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: var(--cor3);
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: var(--cor4);
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--btn-login);
    background: var(--card-login);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-login > a {
    text-decoration: none;
    color: var(--btn-login);
}

@media only screen and (max-width: 950px){
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }
}

.cadastrar {
    padding: 2px 5px;
    border-radius: 8px;
    background: var(--bg2);
    color: var(--card-login);
    text-decoration: none;
}

.cadastrar:hover {
    text-decoration: underline;
    color: #48ffaa;
    padding: 7px;
    transition: 0.6s;
}

.cadastro1 {
    font-size: 1.8vh;
}

:root {
    --cor1: #201b2c;
    --cor2: #77ffc0;
    --cor3: #f0ffffde;
    --cor4: #f0ffff96;

    --card-login: #00ff88;
    --btn-login: #2b134b;

    --bg1: #2f2841;
    --bg2: #514869;

    --box-shadow: #00000056;
}